*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* header */
header{
    background-color: #2C3E50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/* jumbotron */
#jumbotron{
    padding: 100px 0 20px;
}
#jumbotron .content-img{
    width: 200px;
    margin: 0 auto;
}
.content-img img{
    width: 100%;
}
#jumbotron .content {
    color: white;
}
#jumbotron .title{
    font-size: 35px;
    color: white;
}
#jumbotron .sub-title{
    padding-top: 10px;
    font-size: 15px;
}
#jumbotron, #about{
    background-color: #1ABC9C;
}
#jumbotron .content{
    width: 100%;
}
#jumbotron .hr-stars{
    max-width: 250px;
    margin: 0 auto;
    color: white;
}
#jumbotron .hr-stars .line{
    width: 40%;
    position: relative;
    height: 1px;
    background: white;
}
/* columns  */
#columns{
    padding: 50px 0 20px;
}
#columns .content{
    color: black;
}
#columns .hr-stars{
    max-width: 250px;
    margin: 0 auto;
    color: black;
}
.hr-stars .line{
    width: 40%;
    position: relative;
    height: 1px;
    background: black   ;
}
#columns .content-img{
    margin: 0 auto;
}
/* about */
#about{
    padding: 20px 0 30px;
    color: white;
}
#about .title{
    font-size: 20px;
    color: white;
}
#about .hr-stars{
    max-width: 150px;
    margin: 0 auto;
}
#about .hr-stars .line{
    width: 40%;
    position: relative;
    height: 1px;
    background: white;
}
.container-smaller{
    width: 80%;
    margin: 0 auto;
}
.padding-10-20{
    padding: 10px 0 20px;
}

/* contact-us */
#contact-us{
    padding: 20px 0 30px;
    color: black;
}
#contact-us .title{
    font-size: 20px;
}
#contact-us .hr-stars{
    max-width: 150px;
    margin: 0 auto;
}
#contact-us .hr-stars .line{
    width: 40%;
    position: relative;
    height: 1px;
    background: black;
}
#contact-us input, textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
}
#green{
    background-color: #1ABC9C;
    border: #1ABC9C;
}


#copyright{
    background-color: rgb(15, 15, 91);
}