*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* header */
header{
    background-color: #2C3E50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/* jumbotron */
#jumbotron{
    padding-top: 100px;
}
.content-img{
    width: 200px;
    margin: 0 auto;
}
.content-img img{
    width: 100%;
}
#jumbotron .title{
    font-size: 35px;
    color: white;
}
#jumbotron, #about{
    background-color: darkgreen;
}
#jumbotron .content{
    width: 100%;
    height: 350px;
}
.hr-stars{
    max-width: 250px;
    margin: 0 auto;
}
.hr-stars .line{
    width: 40%;
    background: white;
    position: relative;
    height: 1px;
}

.content-title{
    background-color: lightgray;
}
#columns .content{
    height: 250px;
}
#about .content{
    height: 250px;
}
#contact-us .content{
    height: 250px;
}
footer .content{
    height: 250px;
}
#bottom-bar{
    background-color: rgb(15, 15, 91);
}